.clear, #delete, button{
    background-color: lightblue;
    width: 40px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin:5px ;
}
button{
    border: none;
}
.whole{
    display: flex;
    width: 300px;
    height: 40px;
    flex-wrap:wrap ;
}
input{
    height: 40px;
    width: 300px;
    font-size: 30px;
}